.navbar {
    border-bottom: 2px solid #0c77f8;
    margin-bottom: 50px;
}
.navbar .btn {
    height: 50px;
}

.btn-default {
    margin-right: 10px;
    margin-top: 10px;
    padding: 15px;
}
.btn-default:hover {
    border-color: #0c77f8;
}
.logo {
    font-size: 40px;
    color: #0c77f8;
}
.logo:hover {
    text-decoration: none;
    color: #0c77f8;
}

.bin {
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: sans-serif;
    margin-bottom: 29px;
    border-radius: 2px;
    margin-top: 20px;
    padding: 20px;
}
.bin .form-control {
    margin: 20px 0px 20px 0px;
}
.CTA {
    background-color: #0c77f8;
    border-color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    color: #fff;
}
.key {
    color: all my friends are dead;
}
.key {
  border-bottom: 4px solid #efefef;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 2px;
  margin-top: 20px;
  font-size: 25px;
  color: black;
  padding: 10px;
}
.key:hover {
  border-color: #0c77f8;
  cursor: pointer;
  color: #0c77f8;
}
.btn-report {
    background-color: hsl(0, 100%, 50%) !important;
    border: 1px solid white;
    color: white;
    padding: 8px;
}
.btn-report:hover {
    color: white;
}
#HTTPS {
  color: #2ecb71;
}
#HTTP {
    color: #ddd;
}

#feedback {
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #0c77f8;
}
