<!DOCTYPE html>
<html>
    <head>
        <title>OpenKey</title>
        <link rel="icon" href="http://www.iconsdb.com/icons/preview/royal-blue/key-xxl.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
    </head>
    <body>

        <div class="navbar navbar-default navbar-static-top col-md-12 col-xs-12">
            <h3>
                <a href='/' class='col-md-1 col-xs-2 logo'>OpenKey</a>
            </h3>
        </div>

        <div class='bin col-md-6 col-xs-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-2'>
            <h3>
                <strong>
                    Key:
                </strong>
            </h3>
            <p class='lead'>time: {{ time }}</p>
            <p class='lead'>
                Your route key is: <a href="{{ link }}"> {{ key }} </a>
            </p>

             <!--<a href='/changeKey'>Change key name?</a> -->
        </div>
    </body>
</html>
